Package: com.bingner.plutil
Name: plutil
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Samuel Bingner
Author: Samuel Bingner
Section: System
Tag: role::hacker
Conflicts: com.ericasadun.utilities
Provides: com.ericasadun.utilities
Replaces: com.ericasadun.utilities
