Package: com.bingner.plutil
Name: plutil
Depends: firmware (>=2.0), com.bingner.utilities
Version: 0.0.2
Architecture: iphoneos-arm
Description: plutil as from erica sadun
Maintainer: Samuel Bingner
Author: Samuel Bingner
Section: System
Tag: role::hacker
