Package: com.bingner.plutil
Name: plutil
Depends: firmware (>=3.0)
Version: 0.0.2
Architecture: iphoneos-arm
Description: plutil as from erica sadun
Maintainer: Samuel Bingner
Author: Samuel Bingner
Section: System
Tag: role::hacker
Conflicts: com.ericasadun.utilities
Provides: com.ericasadun.utilities
Replaces: com.ericasadun.utilities
